{% extends "base.html" %}

{% block content %}
    <div class="container text-center mt-5 pt-3">
        <h4 class="mt-5">Дополнительная информация</h4>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.about_me.label }}<br>
                {{ form.about_me(cols=40, rows=4) }}
                {% for error in form.about_me.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.key_skills.label }}<br>
                {{ form.key_skills(cols=40, rows=4) }}
                {% for error in form.key_skills.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.knowledge_languages.label }}<br>
                {{ form.knowledge_languages(cols=40, rows=4) }}
                {% for error in form.knowledge_languages.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.citizenship.label }}<br>
                {{ form.citizenship(size=32) }}<br>
                {% for error in form.citizenship.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}