{% extends "base.html" %}

{% block content %}
<div class="form-style">
    <div class="form-login">
        <form action="" method="post">
            <h1>Желаемая должность</h1>
            {{ form.hidden_tag() }}
            <p>
                {{ form.desired_position.label }}<br>
                {{ form.desired_position(size=32) }}<br>
                {% for error in form.desired_position.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.professional_area.label }}<br>
                {{ form.professional_area(size=32) }}<br>
            </p>
            <p>
                {{ form.salary.label }}<br>
                {{ form.salary(size=32) }}<br>
                {% for error in form.salary.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.employment.label }}<br>
                {{ form.employment(size=32) }}<br>
                {% for error in form.employment.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.work_schedule.label }}<br>
                {{ form.work_schedule }}
                <br>
                {% for error in form.work_schedule.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
    <div class="form-photo"></div>
</div>
{% endblock %}