{% extends "base.html" %}

{% block content %}
<div class="form-style">
    <div class="form-login">
        <form action="" method="post">
            <h1>Образование</h1>
            {{ form.hidden_tag() }}
            <p>
                {{ form.level.label }}<br>
                {{ form.level(size=32) }}<br>
                {% for error in form.level.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.educational_institution.label }}<br>
                {{ form.educational_institution(size=32) }}<br>
                {% for error in form.educational_institution.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.faculty.label }}<br>
                {{ form.faculty(size=32) }}<br>
                {% for error in form.faculty.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.specialization.label }}<br>
                {{ form.specialization(size=32) }}<br>
                {% for error in form.specialization.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.year_completion.label }}<br>
                {{ form.year_completion(size=32) }}<br>
                {% for error in form.year_completion.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
    <div class="form-photo"></div>
</div>
{% endblock %}