{% extends "base.html" %}

{% block content %}
    <section class="intro wrapper">
        <div class="intro-img">
            <div class="figure-svg">
                <div class="elipse-1"></div>
                <div class="elipse-2"></div>
                <div class="elipse-3"></div>
                <div class="text-block">
                    <p class="name">Святослав Суровенков</p>
                    <p class="intro-text">Личный сайт-резюме</p>
                    <p class="second-text">Здесь я реализую свои навыки в web-разработке на python</p>
                    <p class="second-text">Проект будет развивается по мере моего роста</p>
                    <a href="#resume" class="resume">Перейти к резюме</a>
                </div>
            </div>
        </div>
    </section>

    <div id="resume" class="about_me">
        <h1 class="about_me_title">Обо мне</h1>
        <p class="about_me_text">{{ svyat_res.basic_information.about_me }}</p>
    </div>
    
    <div class="key_skills">
        <h1 class="key_skills_title">Ключевые навыки</h1>
        <div class="key_skills_list">
            {% for skill in svyat_res.basic_information.key_skills %}
                <p class="key_skill_elem">{{ skill.skill_tag }}</p>
            {% endfor %}
        </div>
        <p class="key_skill_text">{{ svyat_res.basic_information.knowledge_languages }}</p>
    </div>

    <div id="experience" class="experience">
        <h1>Опыт</h1>
        {% for work in svyat_res.work_experience %}
            <div class="experience-elem">
                <div class="work-period">
                    <p>{{ work.organization }}</p><br>
                    <p>{{ work.region }}</p>
                    <p>{{ work.started_working }}</p>
                    <p>{{ work.ending }}</p>
                </div>
                <div class="work-experience">
                    <p>{{ work.company_field_activity }}</p><br>
                    <p>{{ work.post }}</p><br>
                    <p>{{ work.responsibilities_workplace }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
        
    <div class="message">
                {% if current_user.is_anonymous %}
                    <p>Чтобы оставлять сообщения <a href="{{ url_for('login') }}">войдите или зарегистрируйтесь</a></p>
                {% else %}
                    <form action="" method="post">
                        {{ form.hidden_tag() }}
                        <p>
                            {{ form.post.label }}<br>
                            {{ form.post(cols=40, rows=3) }}<br>
                            {% for error in form.post.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>{{ form.submit() }}</p>
                    </form>
                {% endif %}
    </div>

    <div class="post-main">
        {% for post in posts %}
        {% include '_post.html' %}
        {% endfor %}
    </div>
        
    <div class="page">
        {% if prev_url %}
            <a class="page-linc" href="{{ prev_url }}">предыдущая</a>
        {% endif %}
        {% if next_url  %}
            <a class="page-linc" href="{{ next_url }}">следующая</a>
        {% endif %}
    </div>
    
{% endblock %}
