{% extends "base.html" %}

{% block content %}
<div class="form-style">
    <div class="form-login">
        <form action="" method="post">
            <h1>Контактная информация</h1>
            {{ form.hidden_tag() }}
            <p>
                {{ form.skill_tag.label }}<br>
                {{ form.skill_tag(size=32) }}<br>
                {% for error in form.skill_tag.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
    <div class="form-photo"></div>
</div>
{% endblock %}