{% extends "base.html" %}

{% block content %}
    <div class="form-style">
        <div class="form-login">
            <form action="" method="post" novalidate>
                <h1>Вход</h1>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}<br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.remember_me() }}
                    {{ form.remember_me.label }}
                </p>
                <p>{{ form.submit() }}</p>
                <p>Новый пользователь? <a href="{{ url_for('register') }}">Зарегистрируйтесь!</a></p>
            </form>
        </div>
        <div class="form-photo"></div>
    </div>
{% endblock %}
