{% extends "base.html" %}

{% block content %}
    <div class="container" id="user_card">
        <div class="card mb-5" style="background-color: #FEF9C7; color: #026670; margin-top: 5rem;">
            <h5 class="card-header text-center">Ваше резюме</h5>
            <div class="card-body">
                <p class="card-text">
                    
                    {% if person_inform[0] %}
                        <h5>
                            <!-- ФИО -->
                            {{ person_inform[0].surname }} 
                            {{ person_inform[0].first_name }} 
                            {{ person_inform[0].patronymic }}
                            
                        </h5><br>
                        <h6>Основная информация:</h6>
                        <p class="pl-5">
                            <!-- Пол, возраст, дата рождения, город проживания -->
                            {{ person_inform[0].gender }}, 
                            родился - {{ person_inform[0].date_of_birth }}, 
                            проживает в г. {{ person_inform[0].city_of_residence }}<br>
                            <a role="button" href="{{ url_for('edit_personal_information') }}" class="btn btn-secondary waves-effect waves-light btn-sm">
                                Редактировать персональную информацию
                            </a><br>
                        </p>
                        <h6>Контакты:</h6>
                        <p>
                            <!-- Контакты -->
                            <p class="font-weight-bold pl-5">
                                {{ person_inform[0].phone_number }}<br>
                                {{ person_inform[0].email }}
                            </p>
                            <p class="pl-5">
                                {{ person_inform[0].comment_link_social_network }}: {{ person_inform[0].link_social_network }}<br>   
                                {{ person_inform[0].additional_comment_link_social_network }}: <a href="{{ person_inform[0].additional_link_social_network }}">GitHub</a><br>
                                <a role="button" href="{{ url_for('edit_contacts') }}" class="btn btn-secondary waves-effect waves-light btn-sm">
                                    Добавить (редактировать) контакты
                                </a><br>
                            </p>
                        </p>
                        <p>
                            <h6>Желаемая должность:</h6>
                            <!-- Желаемая позиция -->
                            <h6 class="pl-5">{{ person_inform[0].desired_position }}</h6>
                            <p class="pl-5">{{ person_inform[0].comment_desired_position }}</p>
                            <h6 class="pl-5">{{ person_inform[0].salary }} руб.</h6>
                            <p class="pl-5">
                                Занятость: {{ person_inform[0].employment }}<br>
                                График работы: {{ person_inform[0].work_schedule }}<br>
                                <a role="button" href="{{ url_for('edit_position') }}" class="btn btn-secondary waves-effect waves-light btn-sm">
                                    Добавить (редактировать) желаемую должность
                                </a><br>
                            </p>
                        </p>
                    {% else %}
                        <a role="button" href="{{ url_for('personal_information') }}" class="btn btn-secondary waves-effect waves-light btn-sm">
                            Добавить персональную информацию
                        </a><br>
                    {% endif %}
                    <p class="card-text">
                        <h6>Опыт работы:</h6>
                        {% if works[0] %}
                            {% for work in works %}
                                <hr>
                                <div class="row">
                                    <div class="col-md-2">
                                        {{ work.started_working }}<br>
                                        {{ work.ending }}
                                    </div>
                                    <div class="col-md-10">
                                        {{ work.organization }}<br>
                                        {{ work.region }}<br>
                                        {{ work.company_field_activity }}<br>
                                        {{ work.post }}<br>
                                        {{ work.responsibilities_workplace }}
                                    </div>
                                </div>
                                <br>
                                <a role="button" href="{{ url_for('edit_work_experience', exp_id=work.id) }}" class="btn btn-secondary waves-effect waves-light btn-sm">
                                    Редактировать опыт работы
                                </a><br>
                            {% endfor %}
                            <a role="button" href="{{ url_for('work_experience') }}" class="btn btn-secondary waves-effect waves-light btn-sm">
                                Добавить опыт работы
                            </a><br>
                        {% else %}
                            <a role="button" href="{{ url_for('work_experience') }}" class="btn btn-secondary waves-effect waves-light btn-sm">
                                Добавить опыт работы
                            </a><br>
                        {% endif %}
                        {% if add_inf[0] %}
                            <h6>Ключевые навыки:</h6>
                            <p class="pl-5">{{ add_inf[0].key_skills }}</p>
                            <h6>Обо мне:</h6>
                            <p class="pl-5">{{ add_inf[0].about_me }}</p>
                            <h6>Знание языков:</h6>
                            <p class="pl-5">{{ add_inf[0].knowledge_languages }}</p>
                            <p class="pl-5">Гражданство: {{ add_inf[0].citizenship }}</p>
                            <a role="button" href="{{ url_for('edit_additional_information') }}" class="btn btn-secondary waves-effect waves-light btn-sm">
                                Редактировать ключевые навыки и доп. информацию
                            </a><br>
                        {% else %}
                            <a role="button" href="{{ url_for('additional_information') }}" class="btn btn-secondary waves-effect waves-light btn-sm">
                                Добавить ключевые навыки и доп. информацию
                            </a><br>
                        {% endif %}

                        <br><h6>Образование:</h6>
                        {% if trainings[0] %}
                            {% for training in trainings %}
                                {% if training.level %}
                                    <hr>
                                    <h6>{{ training.level }}</h6><br>
                                    <div class="row">
                                        <div class="col-md-2">
                                            {{ training.year_completion }}<br>
                                        </div>
                                        <div class="col-md-10">
                                            {{ training.educational_institution }}<br>
                                            {{ training.faculty }}<br>
                                            {{ training.specialization }}<br>
                                        </div>
                                    </div>
                                    <br>
                                    <a role="button" href="{{ url_for('edit_education', education_id=training.id) }}" class="btn btn-secondary waves-effect waves-light btn-sm">
                                        Редактировать образование
                                    </a><br>
                                {% endif %}
                            {% endfor %}
                            <a role="button" href="{{ url_for('education') }}" class="btn btn-secondary waves-effect waves-light btn-sm">
                                Добавить образование
                            </a><br>


                            <br><h6>Дополнительное образование:</h6>
                            {% for training in trainings %}
                                {% if training.conducting_organization %}
                                    <hr>
                                    <h6>{{ training.comment }}</h6><br>
                                    <div class="row">
                                        <div class="col-md-2">
                                            {{ training.year_completion }}<br>
                                        </div>
                                        <div class="col-md-10">
                                            {{ training.conducting_organization }}<br>
                                            {{ training.specialization }}<br>
                                        </div>
                                    </div>
                                    <br>
                                    <a role="button" href="{{ url_for('edit_additional_education', education_id=training.id) }}" class="btn btn-secondary waves-effect waves-light btn-sm">
                                        Редактировать дополнительное образование
                                    </a><br>
                                {% endif %}
                            {% endfor %}
                            <a role="button" href="{{ url_for('additional_education') }}" class="btn btn-secondary waves-effect waves-light btn-sm">
                                Добавить дополнительное образование
                            </a><br>


                        {% else %}
                            <a role="button" href="{{ url_for('education') }}" class="btn btn-secondary waves-effect waves-light btn-sm">
                                Добавить образование
                            </a>
                            <a role="button" href="{{ url_for('additional_education') }}" class="btn btn-secondary waves-effect waves-light btn-sm">
                                Добавить дополнительное образование
                            </a><br>
                        {% endif %}
                    </p>
                </p>
            </div>
        </div>
    </div>
{% endblock %}