{% extends "base.html" %}

{% block content %}
    <div class="container" id="user_card">
        <div class="card mb-5" style="background-color: #FEF9C7; color: #026670; margin-top: 5rem;">
            <h5 class="card-header text-center">Вашеи резюме:</h5>
            <div class="card-body">
                <p class="card-text">
                    {% if resume %}
                        {% for i in resume %}
                            <a role="button" href="{{ url_for('this_resume', res_id=i.id) }}" class="btn btn-secondary waves-effect waves-light btn-sm">
                                перейти к резюме {{ i.first_name }}
                            </a><br>
                        {% endfor %}
                    {% else %}
                        <a role="button" href="{{ url_for('resume_create') }}" class="btn btn-secondary waves-effect waves-light btn-sm">
                            Создать резюме
                        </a><br>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}