{% extends "base.html" %}

{% block content %}
            <div class="resume-list">
                <h1>Вашеи резюме:</h1>
                {% if resume %}
                    {% for i in resume %}
                        <div class="about_me" style="margin-top: 100px;">
                            {% if i.basic_information.desired_position %}
                                <h1 class="about_me_title">{{ i.basic_information.desired_position }}</h1>
                                <p class="about_me_text">{{ i.basic_information.professional_area }}</p>
                                <p class="about_me_text">{{ i.basic_information.about_me }}</p>
                                <p class="resume-linc"><a href="{{ url_for('this_resume', res_id=i.id) }}">перейти к резюме</a></p><br>
                            {% else %}
                                <p class="resume-linc"><a href="{{ url_for('this_resume', res_id=i.id) }}">Редактировать черновик</a></p><br>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <p class="resume-linc"><a href="{{ url_for('resume_create') }}">Создать новое резюме</a></p><br>
                {% else %}
                <p class="resume-linc"><a href="{{ url_for('resume_create') }}">Создать резюме</a></p><br>
                {% endif %}
            </div>
{% endblock %}