{% extends "base.html" %}

{% block content %}
    <div class="this-resume">
        <h1>Ваше резюме</h1>
        {% if resume_с %}

            <!-- ФИО -->
            <p>{{ resume_с.surname }} {{ resume_с.first_name }} {{ resume_с.patronymic }}</p>

            <h1>Основная информация:</h1>
            <!-- Пол, возраст, дата рождения, город проживания -->
            <p>
                {{ resume_с.gender }}, родился - {{ resume_с.date_of_birth }}
                {% if resume_с.basic_information.city_of_residence %}
                    проживает в г. {{ resume_с.basic_information.city_of_residence }}
                {% endif %}
            </p>
            <p class="resume-linc"><a href="{{ url_for('edit_resume', resume_id=resume_с.id) }}">Редактировать основную информацию</a></p>

            <h1>Контакты</h1>
            <!-- Контакты -->
            {% if resume_с.basic_information.phone_number %}
                <p>{{ resume_с.basic_information.phone_number }}<br>{{ resume_с.basic_information.email }}</p>
                <p class="resume-linc"><a href="{{ url_for('edit_personal_information', resume_id=resume_с.id) }}">Редактировать персональную информацию</a></p>
            {% else %}
                <p class="resume-linc"><a href="{{ url_for('personal_information', resume_id=resume_с.id) }}">Добавить персональную информацию</a></p>
            {% endif %}
            {% if resume_с.basic_information.social_networks %}
                {% for social_network in resume_с.basic_information.social_networks %}
                    <p><a href="{{ social_network.link_social_network }}">{{ social_network.comment_link_social_network }}</a></p>
                    <p class="resume-linc"><a href="{{ url_for('edit_social_network', social_network_id=social_network.id, resume_id=resume_с.id) }}">Редактировать ссылку на соц. сеть</a></p>
                {% endfor %}
                <p class="resume-linc"><a href="{{ url_for('social_network', basic_information_id=resume_с.basic_information.id, resume_id=resume_с.id) }}">Добавить ссылку на соц. сеть</a></p>
            {% else %}
                <p class="resume-linc"><a href="{{ url_for('social_network', basic_information_id=resume_с.basic_information.id, resume_id=resume_с.id) }}">Добавить ссылку на соц. сеть</a></p>
            {% endif %}
            <h1>Желаемая должность</h1>
            <!-- Желаемая позиция -->
            {% if resume_с.basic_information.salary %}
                <h2>{{ resume_с.basic_information.desired_position }}</h2>
                <p>{{ resume_с.basic_information.professional_area }}</p>
                <h1>{{ resume_с.basic_information.salary }} руб.</h1>
                <p>Занятость: {{ resume_с.basic_information.employment }}<br>График работы: {{ resume_с.basic_information.work_schedule }}</p>
                <p class="resume-linc"><a href="{{ url_for('edit_position', resume_id=resume_с.id) }}">Редактировать желаемую должность</a></p>
            {% else %}
                <p class="resume-linc"><a href="{{ url_for('edit_position', resume_id=resume_с.id) }}">Добавить желаемую должность</a></p>
            {% endif %}

            <h1>Опыт</h1>
            {% if resume_с.work_experience %}
                {% for work in resume_с.work_experience %}
                    <div class="experience-elem">
                        <div class="work-period">
                            <p>{{ work.organization }}</p>
                            <p>{{ work.region }}</p>
                            <p>{{ work.started_working }}</p>
                            <p>{{ work.ending }}</p>
                        </div>
                        <div class="work-experience">
                            <p>{{ work.company_field_activity }}</p>
                            <p>{{ work.post }}</p>
                            <p>{{ work.responsibilities_workplace }}</p>
                        </div>
                    </div>
                    <p class="resume-linc"><a href="{{ url_for('edit_work_experience', resume_id=resume_с.id, work_id=work.id) }}">Редактировать опыт работы</a></p>
                {% endfor %}
                <p class="resume-linc"><a href="{{ url_for('work_experience', resume_id=resume_с.id) }}">Добавить опыт работы</a></p>
            {% else %}
                <p class="resume-linc"><a href="{{ url_for('work_experience', resume_id=resume_с.id) }}">Добавить опыт работы</a></p>
            {% endif %}

            <h1>Ключевые навыки</h1>
                {% if resume_с.basic_information.key_skills %}
                    {% for skill in resume_с.basic_information.key_skills %}
                        <p >{{ skill.skill_tag }} 
                            <a href="{{ url_for('edit_key_skills', key_skill_id=skill.id, resume_id=resume_с.id) }}">Изменить тег</a>
                        </p>
                    {% endfor %}
                    <p class="resume-linc"><a href="{{ url_for('key_skills', basic_information_id=resume_с.basic_information.id, resume_id=resume_с.id) }}">Добавить тег</a></p>
                {% else %}
                    <p class="resume-linc"><a href="{{ url_for('key_skills', basic_information_id=resume_с.basic_information.id, resume_id=resume_с.id) }}">Добавить тег</a></p>
                {% endif %}
            <h1>Обо мне:</h1>
            <p>{{ resume_с.basic_information.about_me }}</p>
            <h1>Знание языков:</h1>
            <p>{{ resume_с.basic_information.knowledge_languages }}</p>
            <p>Гражданство: {{ resume_с.basic_information.citizenship }}</p>
        {% endif %}

        <h1>Образование</h1>
        {% if resume_с.educations %}
            {% for training in resume_с.educations %}
                <h2>{{ training.level }}</h2>
                <div class="experience-elem">
                    <div class="work-period">
                        <p>{{ training.year_completion }}</p>
                    </div>
                    <div class="work-experience">
                        <p>{{ training.educational_institution }}</p>
                        <p>{{ training.faculty }}</p>
                        <p>{{ training.specialization }}</p>
                    </div>
                </div>
                <p class="resume-linc"><a href="{{ url_for('edit_education', education_id=training.id, resume_id=resume_с.id) }}">Редактировать образование</a></p>
            {% endfor %}
            <p class="resume-linc"><a href="{{ url_for('education', resume_id=resume_с.id) }}">Добавить образование</a></p>
        {% else %}
            <p class="resume-linc"><a href="{{ url_for('education', resume_id=resume_с.id) }}">Добавить образование</a></p>
        {% endif %}
        <h1>Дополнительное образование:</h1>
        {% if resume_с.additional_educations %}
            {% for training in resume_с.additional_educations %}
                <h2>{{ training.comment }}</h2>
                <div class="experience-elem">
                    <div class="work-period">
                        <p>{{ training.year_completion }}</p>
                    </div>
                    <div class="work-experience">
                        <p>{{ training.conducting_organization }}</p>
                        <p>{{ training.specialization }}</p>
                    </div>
                </div>
                <p class="resume-linc"><a href="{{ url_for('edit_additional_education', additional_education_id=training.id, resume_id=resume_с.id) }}">Редактировать дополнительное образование</a></p>
            {% endfor %}
            <p class="resume-linc"><a href="{{ url_for('additional_education', resume_id=resume_с.id) }}">Добавить дополнительное образование</a></p>
        {% else %}
            <p class="resume-linc"><a href="{{ url_for('additional_education', resume_id=resume_с.id) }}">Добавить дополнительное образование</a></p>
        {% endif %}
    </div>
{% endblock %}