{% extends "base.html" %}

{% block content %}
    <div class="user-profile">
        <div class="user-card">
            <div class="user-avatar">
                <div class="photo"></div>
                <h1>{{ user.username }}</h1>
                {% if user.last_seen %}
                    <p>Был в сети:</p>
                    <p>{{ user.last_seen.strftime("%d.%m.%Y-%H:%M") }}</p>
                {% endif %}
            </div>
            <div class="user-body">
                <h1>О себе:</h1>
                {% if user.about_me %}
                    <p>{{ user.about_me }}</p>
                {% endif %}
                <ul class="key_skills_list">
                    <li><p class="key_skill_elem">подписчики: {{ user.followers.count() }}</p></li>
                    <li><p class="key_skill_elem">подписки: {{ user.followed.count() }}</p></li>
                </ul>
            </div>
        </div>
        <div class="bottom-user">
            {% if user == current_user %}
                <a class="page-linc" href="{{ url_for('edit_profile') }}">Редактировать информацию о себе</a>
                <a class="page-linc" href="{{ url_for('new_post') }}">Добавить пост</a>
                <a class="page-linc" href="{{ url_for('resume', username=user.username) }}">Резюме</a>
            {% elif not current_user.is_following(user) %}
                <a class="page-linc" href="{{ url_for('follow', username=user.username) }}">Подписаться</a>
            {% else %}
                <a class="page-linc" href="{{ url_for('unfollow', username=user.username) }}">Отписаться</a>
            {% endif %}
        </div>
        <!-- <div class="user-body">
            <h1>О себе:</h1>
            <p>
                {% if user.about_me %}
                    <p>{{ user.about_me }}</p>
                {% endif %}
                {% if user.last_seen %}
                    <p>Был в сети:</p>
                    <p>{{ user.last_seen.strftime("%d.%m.%Y-%H:%M") }}</p>
                {% endif %}
                <p>
                    Подписчики: {{ user.followers.count() }}
                </p>
                <p>
                    Подписки: {{ user.followed.count() }}
                </p>
                {% if user == current_user %}
                    <a href="{{ url_for('edit_profile') }}">Редактировать информацию о себе</a>
                    <a href="{{ url_for('new_post') }}">Добавить пост</a>
                    <a href="{{ url_for('resume', username=user.username) }}">Резюме</a>
                {% elif not current_user.is_following(user) %}
                    <a href="{{ url_for('follow', username=user.username) }}">Подписаться</a>
                {% else %}
                    <a href="{{ url_for('unfollow', username=user.username) }}">Отписаться</a>
                {% endif %}
            </p>
        </div> -->
    </div>
    {% if user == current_user %}
        <div class="post-main">
            <h1>Лента подписок</h1>
            {% for post in follow_posts %}
                {% include '_post.html' %}
            {% endfor %}
        </div>
    {% else %}
        <div class="post-main">
            <h1>Записи пользователя {{ user.username }}</h1>
            {% for post in posts %}
                {% include '_post.html' %}
            {% endfor %}
        </div>
    {% endif %}

    {% if user == current_user %}
        <div class="page">
            {% if follow_prev_url %}
                <a class="page-linc" href="{{ follow_prev_url }}">предыдущая</a>
            {% endif %}
            {% if follow_next_url  %}
                <a class="page-linc" href="{{ follow_next_url }}">следующая</a>
            {% endif %}
        </div>
    {% else %}
        <div class="page">
            {% if prev_url %}
                <a class="page-linc" href="{{ prev_url }}">предыдущая</a>
            {% endif %}
            {% if next_url  %}
                <a class="page-linc" href="{{ next_url }}">следующая</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}